
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" /> 
</head>

<body>
    <div class="myhead">
      <ul class="pull-right">
          <li ><a href="/signup/">Sign Up</a></li>
          <li ><a href="/login/">Log In</a></li>
      </ul>
     </div>

    <div class="mybody">
      <div class="mycont">
        <h1>WELCOME TO OUR LIBRARY</h1>
        <p>HERE IS A PLACE FOR TO LEARN MORE ABOUT LIBRARY</p>
        <p>enjoy your own</p>
        <a href="/more/">Learn More</a>
      </div>
    </div> 

  <div class="indruc">
		  <div class="row">
	  	  <div class="col-md-1">
			     <h3>About us</h3>
			     <p>bluit in 0.0.0.0</p>
		    </div>

		    <div class="col-md-2">
			     <h3>Find Yourself</h3>
			     <p>good good study day day up</p>
			  </div>

		    <div class="col-md-3">
			     <h3>Go For It</h3>
			     <p>GO for a learning travel</p>
			   </div>
	    </div>
	</div>
</body>
</html>