<!doctype html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>login</title>

<link rel="stylesheet" type="text/css" href="/static/css/addbookstyles.css">

</head>
<body>


<div class="wrapper">

    <div class="container">
        <h1>addbook</h1>
        <form class="form" method = "post">
        <table>
                <tr >
                <td><input name="isbn" type="text" placeholder="isbn" required></td></tr> 
                <tr >
                <td><input name="title" type="text" placeholder="title" required></td></tr>
                <tr>
                <td><input name="publisher" type="text"  placeholder="publisher" required></td></tr>
                <tr>
                <td><input name="publishdata" type="text" placeholder="publishdate" required></td></tr>
                <tr>
                <td><input name="price" type="text" placeholder="price" required></td></tr>
                <tr>
                <td>
                    <button type="submit" >提交/继续添加</button>
                    <button type="submit" onclick="location.href='/search/{{authorname}}'">查看</button>
                    </td>
                </tr>
        </table> 
        </form>
    </div>
    
    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    
</div>

<script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
<!--
<script type="text/javascript">
$('#login-button').click(function(event){
    event.preventDefault();
    $('form').fadeOut(500);
    $('.wrapper').addClass('form-success');
});
</script>
-->
</body>
</html>